:root {
  --color-bg: #130f40;
  --color-text: #4834d4;
  --color-bg-button: #95afc0;
}
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg);
}

.divStyle {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--color-text);
  font-weight: bold;
  padding: 5px;
}

.divStyle button {
  padding: 5px;
  margin: 5px;
  outline: none;
  font-weight: bold;
  background-color: var(--color-bg-button);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
